body{
	margin: 0;
	padding: 0;
}

.tout{
	background: linear-gradient(to bottom right, #034f84 0%, #40E0D0 100%);
	width: 50%;
	height: 700px;
	margin-left: 25%;
	border:2px solid #034f84;
}

header{
	background-color: #034f84;
	width: 100%;
	height: 60px;
	display: flex;


}

.prec{
	font-size: 30px;
	width: 2%;
	margin-left: 1%;
	margin-top: 1%;
	color: #40E0D0;

}

.lien{
	text-decoration: none;
	color: red;
}

.debut{
	margin-top: 2%;
	margin-left: 5%;
	height: 20px;
	background-color: white;
}

.filariane{
	margin-top: 2%;
	width: 80%;
	margin-left: 0.5%;
	height: 20px;
	background-color: white;
	

}

.fichier{
	width: 100%;
	height: 640px;
	overflow: scroll;
}

.dossiers{
	text-decoration: none;
	color: white;
}

.image{
	color: brown;
}

.jaune{
	color: yellow;
}

.orange{
	color: orange;
}

.css{
	color: red;
}